# 프로그램 버전 정보
programVersion=v0.02

# 크롤링 대상 사이트 도메인 주소
domainAddress=https://apis.pooq.co.kr

# 크롤링 대상이 영화라면 movie, 드라마/예능일 경우에는 tv 설정
crawllingTarget=pooqTV

# 크롤링 대상 URL
crawllingTargetURL=https://apis.pooq.co.kr/search?apikey=E5F3E0D30947AA5440556471321BB6D9&device=pc&partner=pooq&region=kor&targetage=auto&credential=none&pooqzone=none&drm=wm&type=clip&orderby=score&keyword=@srchKeyword@&offset=@offset@&limit=@limit@
# 크롤링 대상 URL 한페이당 목록갯수
crawllingTargetURLlistSize=30
# 크롤링 대상 URL 페이지 수
crawllingTargetURLpageSize=1

# 크롤링 대상 상세 URL
crawllingTargetDetailURL=https://apis.pooq.co.kr/clip/contents/@clipid@?apikey=E5F3E0D30947AA5440556471321BB6D9&device=pc&partner=pooq&region=kor&targetage=auto&credential=none&pooqzone=none&drm=wm

# 크롤링 대상 상세댓글 URL
crawllingTargetDetailCommentURL=
# 크롤링 대상 URL 한페이당 목록갯수
crawllingTargetDetailCommentURLlistSize=
# 크롤링 대상 URL 페이지 수
crawllingTargetDetailCommentURLpageSize=

# movieId를 획득한 후, 영화별 상세페이지 조회 시 동시 수행할 스레드 수
# - default: 2 개
workerCount=6

# movie.daum.net 크롤링 시 각 세션당 소켓 타임 아웃 밀리초 단위 시간
# - default: 15000 밀리초 (=15초)
socketTimeOutMilliSeconds=20000

# movie.daum.net 크롤링 시 소켓 타임 아웃 예외 발생했을 때 재시도 회수
# - default: 3 회
socketTimeOutRetries=5

# 수집을 위한 검색 의뢰 파일 (포맷: Tab Separated Values) 폴더 위치
# - 의뢰 파일명은 dramak-daum.comment.raw-yyyyMMdd
#tsvInputFolder=/home/manager/data01/ftpdata/datatrans/crawl/request
#tsvInputFolder=C:/Users/paul/Desktop/daum-drama/request
tsvInputFolder=D:/info/pooq-tv/request

# 수집된 결과 파일 (포맷: Tab Separated Values) 출력 폴더 위치
# - default: user's home directory
# - 결과 댓글 파일명은 dramak-daum.comment.raw-yyyyMMdd
# - 결과 작품 회별 파일명은 dramak-daum.episode.raw-yyyyMMdd
# - 결과 작품 대표 파일명은 dramak-daum.meta.raw-yyyyMMdd
#tsvOutputFolder=/home/manager/data01/ftpdata/datatrans/crawl/result
#tsvOutputFolder=C:/Users/paul/Desktop/daum-drama/result
tsvOutputFolder=D:/info/pooq-tv/result


# 로그 파일 폴더 출력 위치
# - default: user's home directory 
# - 로그 파일명은 daum{TV|Movie}_yyyyMMddHHmmss.log
logOutputFolder=D:/info/pooq-tv/log

# 로그 레벨, 심각한 순으로 설정 이상 레벨 로그만 출력
# SEVERE,WARNING,INFO,CONFIG,FINE,FINER,FINEST
# - default: WARNING
logLevel=INFO

# 로그를 기존 파일에 덧붙여 출력할지 여부
logAppend=false
